.recovery_password {
    width: 50%;
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 30px auto;
    max-width: 600px;
    padding: 20px;
}

.recovery_password h3 {
    text-align: center;
}

.recovery_password__title {
    font-family: Raleway-Medium;
    font-size: 2rem;
    color: #555;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    display: block;
    padding-bottom: 15px;
}

.recovery_password__text {
    font-family: Raleway-Medium;
    font-size: 1.8rem;
    color: #555;
    line-height: 1.2;
    text-align: left;
    width: 100%;
    display: block;
    padding-bottom: 15px;
}

.recovery_password__text--italic {
    font-style: italic;
}

.recovery_password__text--bold {
    font-weight: bold;
}

.recovery_password__link {
    font-family: Raleway-Medium;
    font-size: 1.4rem;
    padding: 10px;
    background: #000;
    color: #fff;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 120px;
    margin: auto auto 15px auto;
    display: block;
}

.recovery_password__img {
    width: 15px;
    height: 15px;
}

